@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
#root {
  display: grid;
  place-items: center;
}

.appContainer {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 70px;
  flex-wrap: nowrap;
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2), 0 10px 30px 0 rgba(0,0,0,0.19);
}
.appContainer .title {
  color: rgb(235, 54, 241);
  font-size: 30px;
  font-weight: bold;
  font-family: "Henny Penny", cursive;
  margin: 0;
  padding-bottom: 5px;
  letter-spacing: 3px;
}
.addContainer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 5px;
  background-color: white;
  width: 290px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.addContainer input {
  width: 182px;
  border-radius: 10px;
  border:2px solid #e7e7e7;
}
.listContainer {
  background-color: white;
  width: 290px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.listContainer ul {
  padding: 0;
}
.filter-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.filter-btns button,
.addContainer button {
  width: 95px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  font-size: 15px;
  border:2px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}
.taskContainer {
  display: flex;
  justify-content: center;
  width: 290px;
  height: 40px;
  padding: 5px;
}
.taskContainer li {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.taskContainer input {
  width: 200px;
  height: 25px;
  padding: 5px;
  border-radius: 10px;
  /* resize: none; */
  font-size: 16px;
  font-family: 'Zen Antique Soft', serif;
}
.icon {
  width: 35px;
  height: 37px;
  cursor: pointer;
}